
<script src="../map.js"></script>

<div ng-repeat="scooter in scooters">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <table>
                <tr>
                    <td>Name</td>
                    <td>{{ scooter.name }}</td>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td>{{ scooter.lat }}</td>
                </tr>
                <tr>
                    <td>Longitude</td>
                    <td>{{ scooter.long }}</td>
                </tr>
                <tr>
                    <td>In use?</td>
                    <td>{{ scooter.in_use }}</td>
                </tr>
             </table>
        </div>
    </div>
</div>

