body {
    background-color: #FBF8FF;
    font-family: 'Roboto Condensed', sans-serif;
    color: #555558;
}


.navbar-default {
    background-color:  #cadfaa !important;
}

.btn-primary {
    background-color:  #4585f2  !important;
    border-color: #4585f2  !important;
}

.btn-warning {
    background-color:  #fa9e25  !important;
    border-color: #fa9e25  !important;
}

.my_sidebar>ul>li>a {
    background-color:  #ffe168 !important;
    margin-top: 10px;
    color: #424245;
}

.my_sidebar {

}