{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Scooter</title>

    <!-- Angular -->
    <script src="{% static "js/vendors/angular/angular-min.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-resource-min.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-route.min.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-cookies-min.js" %}"></script>

    <script src="{% static "js/app.js" %}"></script>

     <!-- GOOGLE MAPS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN3I45Mw0UYNqVNMGm_NwbhFCYnWgAz4U"></script>

    <!-- jQuery -->
    <script src="{% static "js/vendors/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript">var csrftoken = "{% csrf_token %}";</script>

    <!--Bootstrap -->
    <script src="{% static "js/vendors/angular-ui/ui-bootstrap-tpls-0.11.2.min.js" %}"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!--- Directives ---->
    <script src="{% static "js/directives/buttonDirective.js" %}"></script>

    <!--- Controllers --->
    <script src="{% static "js/controllers/homeController.js" %}"></script>

    <!-- CSS -->
    <script src="{% static "css/reset.css" %}"></script>
    <script src="{% static "css/style.css" %}"></script>

    <!--Map-->
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/map.js" %}"></script>

</head>
<body>
      <div class="container">
        {% block content %}
        {% endblock %}
        <div class="row">
            <div class="col-md-12">
                <div id = "map_canvas" style="width: 100%;height: 500px; margin-top: 50px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div data-ng-app="scooter_ang">
                    <div ng-view></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
{#                This is also outside of our Angular app. You can put whatever you want here, or you can delete it.#}
            </div>
        </div>
    </div>
</body>
</html>