{% extends 'base_template.html' %}
{% block header %}
{% endblock %}

{% block content %}

    <div class="col-sm-3 col-md-2 sidebar my_sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Ihre Fahrzeuge <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'update' %}">Profil</a></li>
          </ul>
    </div>

    <div class="col-md-8 col-xs-12">
        <h2>Ihre Fahrzeuge</h2>
            <table class="table" >
                <thead>
                <tr>
                <th>Fahrzeug</th>
                    <th>Zuletzt gesehen</th>

                </tr>
                </thead>
                {% for vehicle in vehicles %}
                    {% for key, value in vehicle.items %}

                <tr>
                    <td><a href={% url 'route' key.0  %}>{{ key.1 }}</a></td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
             </table>
        </div>
    </div>
</div>

{% endblock content %}