{% load staticfiles %}


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Vehicle Tracker</title>
       <!-- jQuery -->
    <script src="{% static "js/vendors/jquery-2.1.4.min.js" %}"></script>

      <!--Bootstrap -->
    <script src="{% static "js/vendors/angular-ui/ui-bootstrap-tpls-0.11.2.min.js" %}"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

      <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="bs-component">
              <div class="navbar navbar-default">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{% url 'home' %}">Where is my car?</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">

                  <ul class="nav navbar-nav navbar-right">
                      {% if user.is_authenticated %}
                          <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                  </ul>

                </div>
              </div>
            </div>
      <div class="container">
    <h2>{{ name }}</h2>
          <button id="mapView" class="btn btn-primary">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Karte
          </button>

            <button id="tableView" class="btn btn-primary" >
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Tabelle
          </button>

<form method="post">
    {% csrf_token %}
    <p><label for="id_from_date">Von:</label>
    <input id="id_subject" type="date" name="from_date"  /></p>
<p><label for="id_to_date">Bis:</label>
    <input type="date" name="to_date" id="id_to_date" /></p>
    <button type="submit" id="mapView" class="btn btn-warning">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Go!
          </button>

</form>
      <div id="table">
      <table class="table" >
                <thead>
                <tr>
                    <th>Datum</th>
                <th>Zeit</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Adresse</th>

                </tr>
                </thead>
                {% for position in positions %}

                <tr>
                    <td>{{ position.date }}</td>
                    <td>{{ position.time }}</td>
                    <td>{{ position.long }}</td>
                    <td>{{ position.lat }}</td>
                    <td>{{ position.address }}</td>
                </tr>
                {% endfor %}
             </table>
      </div>
    <div class="row">
            <div class="col-md-12">
                <div id = "map_canvas" style="width: 100%;height: 500px; margin-top: 50px;"></div>
            </div>
        </div>

    <script>
    $(document).ready(function(){
        $("#map_canvas").show();
        $("#table").hide();
    $("#mapView").click(function(){
        $("#map_canvas").show();
        $("#table").hide();
    });
    $("#tableView").click(function(){
        $("#table").show();
        $("#map_canvas").hide();
    });
    });


function initMap() {
  var map = new google.maps.Map(document.getElementById('map_canvas'), {
    zoom: 10,
    center: {lat: {{ latest_position_lat }}, lng: {{latest_position_long}} },
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var routeCoordinates = [
      {% for position in all_positions %}
          { lat: {{ position.0 }}, lng: {{ position.1 }} },
      {% endfor %}
  ];
  var route = new google.maps.Polyline({
    path: routeCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  route.setMap(map);
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
      </div>
  </body>
</html>